<div class="row">
  <div class="small-8 small-centered large-6 columns large-centered">
    <div class="facebook-button">
      <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
      <% end -%>
      <% end -%>
    </div>
  </div>
</div>


