@font-face {
  font-family: 'AudimatBoldItalic';
  src: asset-url('AUdimat-BoldItalic.eot');
  src: asset-url('AUdimat-BoldItalic.eot?#iefix') format('embedded-opentype'),
    asset-url('AUdimat-BoldItalic.svg#icomoon') format('svg'),
    asset-url('AUdimat-BoldItalic.woff') format('woff'),
    asset-url('AUdimat-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
  background-color: #E2E8FF;
  font-family: "AudimatBoldItalic";
}

li {
  list-style-type: none;
}

header {
  background-color: #141414;
}

.top-bar, main {
  width: 960px;
  margin: 0 auto;
}

.name h1 a {
  font-family: monospace;
  color: red;
}

h2, h1, form {
  text-align: center;
}

.screenshot-index-box {
  margin: 40px 0 60px 0;
  background-color: white;
  border: 1px solid #edeeee;
  /*border: 1px solid grey;*/
}

.indexed-image {
  position: relative;
  
  li {
    text-align: center;
    line-height: 50px;

    a {
      padding: 15px;
      border: 2px solid #008CBA;
    }
  }
}

.indexed-top-comment {
  text-align: center;
  font-size: 10px;
  color: yellow;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 40px;
}

.screenshot-index-header {
  padding: 10px;
  height: 55px;

  li {
    display: inline-block;
  }

  li:nth-child(2) {
    width: 33.3%;
  }
}


form .field {
  font-size: 10px;
}

form input {
  width: 200px;
}

.full-screen-size li {
  display: none;
}

.small-screen-size li {
  display: block;
}

h3 {
  text-align: center;
  font-style: italic;
}

.follow-button {
  text-align: center;
}

.profile-picture-show {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

.profile-picture-feed {
  margin-right: 15px;
  border-radius: 50%;
  width: 35px;
}

@media only screen and (min-width: 640px) {
/*  .field {
    margin: 0 200px;
  }*/

  .full-screen-size li {
    display: block;
  }

  .small-screen-size li {
    display: none;
  }

  .screenshot-index-header {
    padding: 20px;
    height: 75px;

    li:nth-child(2) {
      width: 79.7%;
    }
  }

  form .field {
    text-align: center;
    font-size: 16px;
  }

  .indexed-top-comment {
    font-size: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .top-bar, main {
   width: 320px;
   margin: 0 auto;
 }
}
